# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [78]:
# Importing the necessary libraries
import pandas as pd
import numpy as np

In [86]:
# Loading the dataset
file_path_sales = '/Users/karolk/Python_Work/DataCamp/Datasets/Real Estate/house_sales.csv'
file_path_train = '/Users/karolk/Python_Work/DataCamp/Datasets/Real Estate/train.csv'
file_path_validation = '/Users/karolk/Python_Work/DataCamp/Datasets/Real Estate/validation.csv'

house_sales = pd.read_csv(file_path_sales)

# getting dtypes of the columns
house_sales.dtypes

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8 sq.m.
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8 sq.m.
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5 sq.m.
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Det.,528.4 sq.m.
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1 sq.m.
...,...,...,...,...,...,...,...,...
1495,1123892,Riverford,198661,2022-02-17,7.3,5,Detached,432.2 sq.m.
1496,1327295,Poppleton,358304,2020-10-10,6.2,6,Detached,599.8 sq.m.
1497,1058161,Riverford,176612,2022-11-01,6.8,4,Detached,359.1 sq.m.
1498,1822037,Teasdale,197827,2021-04-03,5.4,3,Detached,253.7 sq.m.
1499,1679272,Poppleton,162099,2021-12-06,5.0,3,Detached,268.7 sq.m.

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [80]:
# Calculating the number of missing values in the 'city' column
# count the number of city values that are equal to '--'
missing_city = house_sales['city'].value_counts()['--']
missing_city

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [87]:
# working on task 2
# creating a copy of the original dataframe
clean_data = house_sales.copy()

# replacing missing values in the 'city' column with 'Unknown'. The missing values are represented by '--'
clean_data['city'] = clean_data['city'].replace('--', 'Unknown')

# check for missing values in the 'sale_price' column
missing_sale_price = clean_data['sale_price'].isnull().sum()

# check for negative values in the 'sale_price' column
negative_sale_price = clean_data['sale_price'][clean_data['sale_price'] < 0].count()

# working on sales_date column. check for missing values
missing_sales_date = clean_data['sale_date'].isnull().sum()

# working on months_listed column. check for missing values. 
missing_months_listed = clean_data['months_listed'].isnull().sum()

# replace missing values in the 'months_listed' column with the mean number of months listed, to one decimal place
clean_data['months_listed'] = clean_data['months_listed'].fillna(clean_data['months_listed'].mean())

# make sure that the 'months_listed' column is rounded to one decimal place
clean_data['months_listed'] = clean_data['months_listed'].round(1)

# working on bedrooms column. check for missing values
missing_bedrooms = clean_data['bedrooms'].isnull().sum()

# working on house_type column. check for missing values.
missing_house_type = clean_data['house_type'].isnull().sum()

# fixing variables in house_type column. replace 'Det.' with 'Detached' and 'Semi' with 'Semi-detached', 'Terr.' with 'Terraced'
clean_data['house_type'] = clean_data['house_type'].replace('Det.', 'Detached')
clean_data['house_type'] = clean_data['house_type'].replace('Semi', 'Semi-detached')
clean_data['house_type'] = clean_data['house_type'].replace('Terr.', 'Terraced')

# getting unique values in the house_type column
house_type_unique = clean_data['house_type'].unique()

# dropping the ' sq.m.' from the 'area' column. Striping the column of the ' sq.m.' string and converting the column to float
clean_data['area'] = clean_data['area'].str.strip(' sq.m.').astype(float)

# check for missing values in the 'area' column
missing_area = clean_data['area'].isnull().sum()

# calc average of area
average_area = clean_data['area'].mean()

# viewing cleaned data
clean_data

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Detached,528.4
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1
...,...,...,...,...,...,...,...,...
1495,1123892,Riverford,198661,2022-02-17,7.3,5,Detached,432.2
1496,1327295,Poppleton,358304,2020-10-10,6.2,6,Detached,599.8
1497,1058161,Riverford,176612,2022-11-01,6.8,4,Detached,359.1
1498,1822037,Teasdale,197827,2021-04-03,5.4,3,Detached,253.7
1499,1679272,Poppleton,162099,2021-12-06,5.0,3,Detached,268.7

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [82]:
# viewing house_sales dataframe
# creating a pivto table to show the average sale_price by the number of bedrooms and the variance by the number of bedrooms. the table will be called price_by_rooms
price_by_rooms = house_sales.pivot_table(index='bedrooms', values='sale_price', aggfunc=[np.mean, np.var])

# renaming the columns
price_by_rooms.columns = ['avg_price', 'var_price']

# rounding the average sale price and variance to one decimal place
price_by_rooms = price_by_rooms.round(1)

# viewing the price_by_rooms dataframe
price_by_rooms

          avg_price     var_price
bedrooms
2           67076.4  5.652896e+08
3          154665.1  2.378289e+09
4          234704.6  1.725211e+09
5          301515.9  2.484328e+09
6          375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [83]:
# working on task 4
# importing the necessary libraries
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

train = pd.read_csv(file_path_train)
test = pd.read_csv(file_path_validation)


# getting unique values in the 'house_type' column and city column
house_type_unique = train['house_type'].unique()
city_unique = train['city'].unique()

# get dummies for the 'house_type' and 'city' columns
train = pd.get_dummies(train, columns=['house_type', 'city'], drop_first=True)
test = pd.get_dummies(test, columns=['house_type', 'city'], drop_first=True)

# get the dtypes of the columns for train
train.dtypes, test.dtypes

# Convert the 'sales_date' column to datetime
train['sale_date'] = pd.to_datetime(train['sale_date'])
test['sale_date'] = pd.to_datetime(test['sale_date'])

# Find the minimum date in the training set
min_date = train['sale_date'].min()

# Create new columns for the number of days since the minimum date
train['days_since_min_date'] = (train['sale_date'] - min_date).dt.days
test['days_since_min_date'] = (test['sale_date'] - min_date).dt.days

# Now you can drop the original 'sales_date' column
train = train.drop(columns=['sale_date'])
test = test.drop(columns=['sale_date'])

train

,house_id,sale_price,months_listed,bedrooms,area,house_type_Semi-detached,house_type_Terraced,city_Riverford,city_Silvertown,city_Teasdale,days_since_min_date
0,1634561,401869,7.0,6,519.7,0,0,0,0,1,713
1,1009770,372387,8.1,6,507.8,0,0,0,1,0,984
2,1946667,325473,5.4,5,466.8,0,0,0,1,0,231
3,1798290,349469,6.4,5,499.4,0,0,0,1,0,1074
4,1533461,199995,4.3,4,335.0,0,0,0,0,0,97
...,...,...,...,...,...,...,...,...,...,...,...
1195,1598212,241139,5.2,3,293.4,0,0,0,0,1,922
1196,1549200,255873,8.8,5,407.8,0,0,0,0,0,16
1197,1919273,298012,9.1,5,429.5,0,0,0,1,0,217
1198,1512003,280859,6.1,4,369.3,0,0,0,1,0,1085
1199,1452168,258418,7.6,5,417.2,0,0,0,0,0,54

In [84]:

# defining the features and target variable. y is the target variable and its is the sale_price column. x is the features, it should be all the columns except the sale_price column
X_train = train.drop(['sale_price'], axis=1)
y_train = train['sale_price']

X_test = test

# fitting the model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

# making predictions
y_pred = lin_reg.predict(X_test)

# creating the base_result dataframe
base_result = pd.DataFrame({'house_id': test['house_id'], 'price': y_pred})

# viewing the base_result dataframe
base_result

     house_id          price
0     1331375  122282.469877
1     1630115  303468.886619
2     1645745  383972.796908
3     1336775  124465.070123
4     1888274  271393.286287
..        ...            ...
295   1986255  350171.488365
296   1896276  369529.178376
297   1758223  259143.768405
298   1752010  168183.151343
299   1651404  390721.667863

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [85]:
# working on task 5: fitting a comparison model which random forest regressor
from sklearn.ensemble import RandomForestRegressor

# fitting the model
rf = RandomForestRegressor(random_state=9)
rf.fit(X_train, y_train)

# making predictions
y_pred_rf = rf.predict(X_test)

# creating the compare_result dataframe
compare_result = pd.DataFrame({'house_id': test['house_id'], 'price': y_pred_rf})

# viewing the compare_result dataframe
compare_result

     house_id      price
0     1331375   80247.08
1     1630115  308463.13
2     1645745  401977.84
3     1336775  105257.93
4     1888274  266456.56
..        ...        ...
295   1986255  359945.91
296   1896276  392495.11
297   1758223  263444.95
298   1752010  175454.91
299   1651404  410389.21

[300 rows x 2 columns]